body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

.header {
    color: deeppink;
}

.flex-container1 {
    background-color: violet;
    height: 700px;
    width: 400px;
    padding-top: 0%;
    font-size: 18px;
    display: wrap; 
}

.flex-container3 {
    display: block;
    padding-left: 70%;
}

p1 {
    font-size: 25px;
}

